.page-box {
  width:100%; height:100vh;
position: relative;
  .box-sizing();
}

.li_page {
   .bg-img(url('https://bx1buk.oss-accelerate.aliyuncs.com/h5pt/bgs/dlbj.jpg'));
   background-position:center;
  background-color:rgba(255, 255, 255, 0.5);
  position: relative;
}

.li_form {
   .bg-img(url('https://bx1buk.oss-accelerate.aliyuncs.com/h5pt/bgs/login_bg.png'));
  width:80%; min-height:53vh; margin:20vh auto 0 auto;
  .flex(flex, center, center); align-content:space-around; flex-direction:column;
  padding:10rpx 20rpx;
}
  .li_title {
    width:100%; height:112rpx; margin:0 0 10rpx 0;
  }
  .li_line {
    width:90%; margin:0 auto;
    .flex(flex, false, center);
    .box-sizing(); padding:3rpx 20rpx;
    border:2px solid @border-color-theme;
    border-radius:16rpx;
    margin-top: 10rpx;
  }
.li_li_icon {
    margin:4rpx 0 0 0;
}
.li_li_input {
  // width: 100%;
  height:100%;
  flex:1;

  ::v-deep .el-input__wrapper {
    background:transparent;
    box-shadow:none;
    .el-input__inner {
      height:100%; font-size:@font-20; color:@color-theme-shallow !important;
    }
  }
}
.li_li_code {
  background:gray;
  width:140rpx; height:60rpx;
  flex-shrink:0;
}
.li_li_suffix {
  height:60rpx;
  .flex(inline-flex, center, center);
  padding:0 6rpx;
  position:relative;
  .pointer();

  &._loading {
    .li_li_su_fill {
      animation:1s infinite linear _rotate;
    }
  }
}
  .li_li_su_fill {
  }
  @keyframes _rotate {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
  }
.li_action {
  width:90%;
  .flex(flex, center);
  margin-top: 10px;

}
.li_ac_button {
  width:90%; height:70rpx;
  line-height: 70rpx;
  margin: 0 auto;
  border-radius:15rpx;

  &._theme01 {
    background:@bg-gradient06;
  }
  &._theme02 {
    background:@bg-gradient07;
  }
}
.li_ac_bu_fill {
  font-size:@font-16; color:@color-wineRed;
}
.li_netword {
  margin: 10rpx 0;
  display: flex;

  .li_checkbox{
    font-size: 24rpx;
  }
  .li_span{
    font-size: 24rpx;
  }
  ::v-deep .uni-checkbox-input{
    width: 24rpx;
    height: 24rpx;
    font-weight: bold;
  }
}
.li_netword_url {
  width:96%; margin: 0 auto;
  .flex(flex);
}
.li_ne_view {
  width:25%;
  .flex(inline-flex, center); flex-wrap:wrap;
  .pointer();

  &._bright {
    .li_ne_vi_point {
      .bg-green(1);
    }

    &._status-congestion {
      .li_ne_vi_point {
        border:2rpx solid; .border-color-red(.8);
        .box-sizing();
      }
    }
  }

  &._status-smooth {
  }

  &._status-congestion {
    .li_ne_vi_status {
      .color-red(1);
    }
  }
}
.li_ne_vi_point {
  background:gray;
  width:28rpx; height:28rpx; margin:4rpx 6rpx 0 0;
  border-radius:50%;
}
.li_ne_vi_name {
  font-size:@font-14;
}
.li_ne_vi_status {
  width:100%; font-size:@font-14; color:@color-green; text-align:center;
}
.li_img{
  width: 40rpx;
  height: 40rpx;
}

// 解决输入框黑色背景
:deep(.login){
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 0px transparent inset !important; /* 设置背景颜色为透明 */
  }
  input:-internal-autofill-previewed,
  input:-internal-autofill-selected{
    -webkit-text-fill-color: @color-theme-shallow !important;
    transition: background-color 5000s ease-in-out 0s!important; /* 延时渲染背景色 */;
  }
  input:-internal-autofill-selected{
    transition: background-color 5000s ease-in-out 0s!important; /* 延时渲染背景色 */;
    background-color: transparent !important;
  }
}
